terminal_banner
termcolor
tqdm
selenium
webdriver_manager
sqlmap
eventlet
free-proxy
selenium-wire
fuzzywuzzy
SpeechRecognition==3.8.1
pydub
bs4
psutil
random_user_agent
numba
tbb
types-tqdm
types-psutil
types-beautifulsoup4